@model IEnumerable<MvcMovie.Models.Movie>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("新規作成", "Create")

    @using (Html.BeginForm("Index", "Movies", FormMethod.Get))
    {
        <div>
            ジャンル: @Html.DropDownList("movieGenre", "All")
            リリース日: @Html.TextBox("ReleaseDate")
            タイトル: @Html.TextBox("SearchString")
            値段: @Html.TextBox("Price")
            <input type="submit" value="検索" />
        </div>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Director)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReleaseDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Genre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Director)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ReleaseDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.ActionLink("編集", "Edit", new { id = item.ID }) |
            @Html.ActionLink("詳細", "Details", new { id = item.ID }) |
            @Html.ActionLink("削除", "Delete", new { id = item.ID })
        </td>
    </tr>
    }

</table>
